<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Flow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Flow.Properties.Settings>
            <setting name="Status404" serializeAs="String">
                <value>Not Found</value>
            </setting>
            <setting name="Status405" serializeAs="String">
                <value>Method Not Allowed</value>
            </setting>
            <setting name="Status100" serializeAs="String">
                <value>Continue</value>
            </setting>
            <setting name="Status101" serializeAs="String">
                <value>Switching Protocols</value>
            </setting>
            <setting name="Status102" serializeAs="String">
                <value>Processing</value>
            </setting>
            <setting name="Status200" serializeAs="String">
                <value>OK</value>
            </setting>
            <setting name="Status201" serializeAs="String">
                <value>Created</value>
            </setting>
            <setting name="Status202" serializeAs="String">
                <value>Accepted</value>
            </setting>
            <setting name="Status203" serializeAs="String">
                <value>Non-Authoritative Information</value>
            </setting>
            <setting name="Status204" serializeAs="String">
                <value>No Content</value>
            </setting>
            <setting name="Status205" serializeAs="String">
                <value>Reset Content</value>
            </setting>
            <setting name="Status206" serializeAs="String">
                <value>Partial Content</value>
            </setting>
            <setting name="Status207" serializeAs="String">
                <value>Multi-Status</value>
            </setting>
            <setting name="Status300" serializeAs="String">
                <value>Multiple Choices</value>
            </setting>
            <setting name="Status301" serializeAs="String">
                <value>Moved Permanently</value>
            </setting>
            <setting name="Status302" serializeAs="String">
                <value>Found</value>
            </setting>
            <setting name="Status303" serializeAs="String">
                <value>See Other</value>
            </setting>
            <setting name="Status304" serializeAs="String">
                <value>Not Modified</value>
            </setting>
            <setting name="Status305" serializeAs="String">
                <value>Use Proxy</value>
            </setting>
            <setting name="Status306" serializeAs="String">
                <value>Switch Proxy</value>
            </setting>
            <setting name="Status307" serializeAs="String">
                <value>Temporary Redirect</value>
            </setting>
            <setting name="Status400" serializeAs="String">
                <value>Bad Request</value>
            </setting>
            <setting name="Status401" serializeAs="String">
                <value>Unauthorized</value>
            </setting>
            <setting name="Status402" serializeAs="String">
                <value>Payment Required</value>
            </setting>
            <setting name="Status403" serializeAs="String">
                <value>Forbidden</value>
            </setting>
            <setting name="Status406" serializeAs="String">
                <value>Not Acceptable</value>
            </setting>
            <setting name="Status407" serializeAs="String">
                <value>Proxy Authentication Required</value>
            </setting>
            <setting name="Status408" serializeAs="String">
                <value>Request Timeout</value>
            </setting>
            <setting name="Status409" serializeAs="String">
                <value>Conflict</value>
            </setting>
            <setting name="Status410" serializeAs="String">
                <value>Gone</value>
            </setting>
            <setting name="Status411" serializeAs="String">
                <value>Length Required</value>
            </setting>
            <setting name="Status412" serializeAs="String">
                <value>Precondition Failed</value>
            </setting>
            <setting name="Status413" serializeAs="String">
                <value>Request Entity Too Large</value>
            </setting>
            <setting name="Status414" serializeAs="String">
                <value>Request-URI Too Long</value>
            </setting>
            <setting name="Status415" serializeAs="String">
                <value>Unsupported Media Type</value>
            </setting>
            <setting name="Status416" serializeAs="String">
                <value>Requested Range Not Satisfiable</value>
            </setting>
            <setting name="Status417" serializeAs="String">
                <value>Expectation Failed</value>
            </setting>
            <setting name="Status418" serializeAs="String">
                <value>I'm a teapot</value>
            </setting>
            <setting name="Status422" serializeAs="String">
                <value>Unprocessable Entity</value>
            </setting>
            <setting name="Status423" serializeAs="String">
                <value>Locked</value>
            </setting>
            <setting name="Status424" serializeAs="String">
                <value>Failed Dependency</value>
            </setting>
            <setting name="Status425" serializeAs="String">
                <value>Unordered Collection</value>
            </setting>
            <setting name="Status426" serializeAs="String">
                <value>Upgrade Required</value>
            </setting>
            <setting name="Status449" serializeAs="String">
                <value>Retry With</value>
            </setting>
            <setting name="Status450" serializeAs="String">
                <value>Blocked by Windows Parental Controls</value>
            </setting>
            <setting name="Status500" serializeAs="String">
                <value>Internal Server Error</value>
            </setting>
            <setting name="Status501" serializeAs="String">
                <value>Not Implemented</value>
            </setting>
            <setting name="Status502" serializeAs="String">
                <value>Bad Gateway</value>
            </setting>
            <setting name="Status503" serializeAs="String">
                <value>Service Unavailable</value>
            </setting>
            <setting name="Status504" serializeAs="String">
                <value>Gateway Timeout</value>
            </setting>
            <setting name="Status505" serializeAs="String">
                <value>HTTP Version Not Supported</value>
            </setting>
            <setting name="Status506" serializeAs="String">
                <value>Variant Also Negotiates</value>
            </setting>
            <setting name="Status507" serializeAs="String">
                <value>Insufficient Storage</value>
            </setting>
            <setting name="Status509" serializeAs="String">
                <value>Bandwidth Limit Exceeded</value>
            </setting>
            <setting name="Status510" serializeAs="String">
                <value>Not Extended</value>
            </setting>
        </Flow.Properties.Settings>
    </userSettings>
</configuration>